body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.boardSize {
  height: 1024px;
  width: 1024px;
  margin: auto;
}

.gameBoard {
  background-color: blue;
  display: grid;
  height: inherit;
  width: inherit;
  grid-template-columns: repeat(50, minmax(0, 1fr));
  grid-template-rows: repeat(50, minmax(0, 1fr));
}
