body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.gameBoard {
  margin: auto;
}
.boardContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.cell {
  width: 5px;
  height: 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.live {
  background-color: blue;
}

.flex {
  display: flex;
}
